<html>
<head>
	<link rel="stylesheet" href="css/circleFill.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

	<div class="circle">
		<!-- <div class="left-half"></div>
		<div class="right-half"></div> -->
	</div>
	
	<div id="horizons">
		<div id="horizon">
			<!-- Left -->	
		</div>
		<div id="horizonBlocker">
		</div>
		<div id="textCircle">
		</div>
		<div id="horizon2">
			<!-- Right -->
		</div>
	</div>
	
	<div class="wrapper"></div>

	<div class="circle">
		<label id="timeLeft">34</label>
	</div>
</body>
</html>