<html>

<head>
	<script src="translationObject.js"></script>
	<title>Welcome to Math Rush</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3">
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
	<!-- This below is for FB (og tags mean Open Graph). This determines what appears when you share the link -->
	<meta property="og:title" content="Welcome to Math Rush">
	<meta property="og:description" content="Home Page of Math Rush">
	<meta name="Description" content="Home Page of Math Rush">
	<meta name="Keywords" content="Math Rush home homepage">
	<link rel="stylesheet" type="text/css" href="css/homePage.css">
	<script src="jquery-3.3.1.min.js"></script>
	<script src="animationHandling.js"></script>
	<script src="translateOnChange.js"></script>
</head>

<body>
	<h2 id="pageTitle" class="pageTitle translate">Math Rush</h2>
	
	<div id="suggestions">
		<label id="textSuggestion" class="translate">Game is too easy?</label>
	</div>
	<div id="translateLanguage">
		<table>
			<tr>
				<td><img src="img/united-states-of-america-flag-button-square-small.png" class="translateButtons english" alt="English"></td>
				<td><img src="img/france-flag-button-square-small.png" class="translateButtons french" alt="French"></td>
				<td><img src="img/india-flag-button-square-small.png" class="translateButtons hindi" alt="Hindi"></td>
				<td><img src="img/spain-flag-button-square-small.png" class="translateButtons spanish" alt="Spanish"></td>
				<td><img src="img/china-flag-button-square-small.png" class="translateButtons mandarin" alt="Mandarin"></td>
			</tr>
		</table>
		<label id="translateText">Translate Page</label>
	</div>
	<label id="purpose" class="translate">The way to go to learn addition, subtraction, multiplication, and division!</label>
	<div id="buttonAndDiv">
		<div id="testDiv" class="movingObj animation-target">
			<label id="testDivText" class="translate"></label>
		</div>
		<input id="playNow" class="playNow translate" type="button" value="Play Now"/><br/>
		<input id="contactMe" class="playNow translate" type="button" value="About Me/ Contact Me"/>
	</div>
	<label class="copyright"></label>
	<script>
		//for the suggestions box to keep in place
		var left = $(window).width()-210;
		$("#suggestions").css("left",left);
		//set copyright
		//get year
		var year = new Date().getYear() + 1900;
		$(".copyright").html("\u00A9 Math Rush "+year);
		//start text purpose at same position as title
		var xTitle = $("#pageTitle").position().left;
		$("#purpose").css("left",xTitle+"px");
		//have to create new style when reaches 1200 as well. Starts becoming a weird page
		if($(window).width()<=800){
			$("#pageTitle").removeClass("pageTitle");
			$("#testDiv").removeClass("movingObj");
			$("#playNow").removeClass("playNow");
			$("#contactMe").removeClass("playNow");
			$("#purpose").css("left", "10%");
			$("#purpose").css("width", "300px");
			$("#textSuggestion").css("font-size","20px");
			$("#suggestions").css("width","100px");
			setTimeout(function(){
				$("#pageTitle").addClass("pageTitleSmaller");
				$("#testDiv").addClass("movingObjSmaller");
				$("#playNow").addClass("playNowSmaller");
				$("#contactMe").addClass("playNowSmaller");
				//for the suggestions box to keep in place
				var left = $(window).width()-110;
				$("#suggestions").css("left",left);
				$("#contactMe").css("font-size","20px");
				$("#contactMe").css("left","0px");
			},1);
		}
	
		//give it a lock so it is not called to often
		var lock = false;
		$(window).on('resize',function(){
			if(!lock){
				lock = true;
				if($(window).width()<=800){
					$("#pageTitle").removeClass("pageTitle");
					$("#testDiv").removeClass("movingObj");
					$("#playNow").removeClass("playNow");
					$("#purpose").css("left", "10%");
					$("#purpose").css("width", "300px");
					$("#textSuggestion").css("font-size","20px");
					$("#suggestions").css("width","100px");
					setTimeout(function(){
						$("#pageTitle").addClass("pageTitleSmaller");
						$("#testDiv").addClass("movingObjSmaller");
						$("#playNow").addClass("playNowSmaller");
						//for the suggestions box to keep in place
						var left = $(window).width()-110;
						$("#suggestions").css("left",left);
						$("#contactMe").css("font-size","20px");
						$("#contactMe").css("left","0px");
					},1);
					
				} else{
					$("#pageTitle").removeClass("pageTitleSmaller");
					$("#testDiv").removeClass("movingObjSmaller");
					$("#playNow").removeClass("playNowSmaller");
					$("#purpose").css("left", xTitle+"px");
					$("#purpose").css("width", "500px");
					$("#purpose").css("top","-50px");
					$("#suggestions").css("width","200px");
					$("#textSuggestion").css("font-size","30px");
					setTimeout(function(){
						$("#pageTitle").addClass("pageTitle");
						$("#testDiv").addClass("movingObj");
						$("#playNow").addClass("playNow");
						//for the suggestions box to keep in place
						var left = $(window).width()-210;
						$("#suggestions").css("left",left);
						$("#contactMe").css("font-size","40px");
						$("#contactMe").css("left","45%");
					},1);
				}
				lock=false;
				
			}
			
		})
	
		var nextTimeout = 0;
		//stop the animation after 2 and 1/2 times. Want to see animation
		$(document).ready(function(){
			
			//change color of button when hover
			$("#playNow").mouseover(function(){
				$("#playNow").css("background-color", "#ea6831");
				$("#playNow").css("color", "#302f2f");
			});
			$("#playNow").mouseout(function(){
				$("#playNow").css("background-color", "#ef5d1e");
				$("#playNow").css("color", "black");
			});
			
			$("#contactMe").mouseover(function(){
				$("#contactMe").css("background-color", "#ea6831");
				$("#contactMe").css("color", "#302f2f");
			});
			$("#contactMe").mouseout(function(){
				$("#contactMe").css("background-color", "#ef5d1e");
				$("#contactMe").css("color", "black");
			});
			
			//set events related to changing language of the page
			setTranslationEvents();
			
			$("#suggestions").mouseover(function(){
				//extend bar down
				//future text position
				$("#suggestions").stop();
				$("#suggestions").animate({height:'125px'}, 400);
				$("#textSuggestion").stop();
				$("#textSuggestion").animate({top: '35px'}, 400);
			});
			
			$("#suggestions").mouseout(function(){
				//pull bar up
				$("#suggestions").stop();
				$("#suggestions").animate({height:'100px'}, 1000);
				$("#textSuggestion").stop();
				$("#textSuggestion").animate({top:'10px'}, 1000);
			});
			
			$("#suggestions").click(function(){
				window.location.href = "lookingAhead";
			})
			
			//put action on button
			$("#playNow").click(function(){
				window.location.href = "selectTypeGame";
			});
			
			$("#contactMe").click(function(){
				window.location.href = "contact";
			});
			
			//duration of animation
			var durationAnimation = 2800;
			//create five events of the animation.
			for(var i=0;i<3;i++){
				setTimeout(function(){
					$("#testDivText").html("FUN");
					onTextChange($("#testDivText"));
				}, nextTimeout);
				
				setTimeout(function(){
					$("#testDivText").html("EASY");
					onTextChange($("#testDivText"));
				}, nextTimeout+durationAnimation);
				
				setTimeout(function(){
					$("#testDivText").html("EFFECTIVE");
					onTextChange($("#testDivText"));
				}, nextTimeout+ (2*durationAnimation));
				
				nextTimeout+=7000;
				setTimeout(function(){
					$("#testDiv").css("-webkit-animation-play-state", "paused");
				}, nextTimeout);
				
				nextTimeout+=5000;
				if(i !== 2){
					setTimeout(function(){
						reset_animation('testDiv');
					}, nextTimeout);
				}
					
			}
			
		});
	</script>
	<script src="translate.js"></script>
	
</body>

</html>