body{
	background-image: url("../img/mathBackground.png");
	width: 95%;
	height: 95%;
}

#opacityBox{
	position: absolute;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: white;
	z-index:-1;
}