/*Comes from here: http://jsfiddle.net/Mp4sZ/ and https://stackoverflow.com/questions/24204792/fill-a-half-circle-animation*/
#horizon:before {
   content: "";
    position: absolute;
	width: 100px;
	height: 50px;
	background: white;
	border:5px dashed #eee;
	border-color: transparent;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#horizon{
	width:100px;
	height:55px;
	position:absolute;
	overflow:hidden;
	transform: rotate(270deg);
}

#horizon:after {
   content: "";
    position: absolute;
	width: 100px;
	height: 55px;
	top:0px;
	left:-5px;
	background: yellow;
	-moz-border-radius: 100px 100px 0 0;
	-webkit-border-radius: 100px 100px 0 0;
	border-radius: 100px 100px 0 0;
	-webkit-transform-origin: bottom;
	-moz-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-animation-name: rotate; 
	-webkit-animation-duration: 4s; 
	-webkit-animation-delay: 2s;
	/*-webkit-animation-iteration-count: infinite;*/
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate; 
	-moz-animation-duration: 4s; 
	-moz-animation-delay: 2s;
	/*-moz-animation-iteration-count: infinite;*/
	-moz-animation-timing-function: linear;
	animation: rotate 4s linear both;
	animation-delay: 2s;
}
@-moz-keyframes rotate {
    0% {-moz-transform:rotateZ(180deg);}
    50% {-moz-transform:rotateZ(360deg)}
    100% {-moz-transform:rotateZ(360deg)}
}

@-webkit-keyframes rotate {
    0% {-webkit-transform:rotateZ(180deg);}
    50% {-webkit-transform:rotateZ(360deg)}
    100% {-webkit-transform:rotateZ(360deg)}
}

#horizon2:before {
   content: "";
    position: absolute;
	width: 100px;
	height: 55px;
	background: transparent;
	border:5px dashed #eee;
	border-color: transparent;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#horizon2{
	width:100px;
	height:55px;
	position:absolute;
	/*Distance between left and right parts*/
	left:50px;
	overflow:hidden;
	transform: rotate(90deg);
}

#horizon2:after {
   content: "";
    position: absolute;
	width: 100px;
	height: 50px;
	top:5px;
	left:5px;
	background: yellow;
	-moz-border-radius: 100px 100px 0 0;
	-webkit-border-radius: 100px 100px 0 0;
	border-radius: 100px 100px 0 0;
	-webkit-transform-origin: bottom;
	-moz-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-animation-name: rotate2; 
	-webkit-animation-duration: 4s; 
	/*-webkit-animation-iteration-count: infinite;*/
	-webkit-animation-timing-function: linear;
	
	-moz-animation-name: rotate2; 
	-moz-animation-duration: 4s; 
	/*-moz-animation-iteration-count: infinite;*/
	-moz-animation-timing-function: linear;
	
	animation: rotate 4s linear both;
}
@-moz-keyframes rotate2 {
    0% {-moz-transform:rotateZ(180deg);}
    50% {-moz-transform:rotateZ(360deg)}
    99.99% {-moz-transform:rotateZ(360deg);
    background-color: yellow;}
    100%{background-color: #ffffff;}
}

@-webkit-keyframes rotate2 {
    0% {-webkit-transform:rotateZ(180deg);}
    50% {-webkit-transform:rotateZ(360deg)}
    99.99% {-webkit-transform:rotateZ(360deg);
    background-color:yellow;}
    100% {background-color: #ffffff;}
}

#horizonBlocker{
	overflow:hidden;
	transform: rotate(270deg);
	content: "";
    position: absolute;
	width: 100px;
	height: 50px;
	-moz-border-radius: 100px 100px 0 0;
	-webkit-border-radius: 100px 100px 0 0;
	border-radius: 100px 100px 0 0;
	background: white;
	border:5px dashed #eee;
	border-color: transparent;
	top:5px;
	left:-5px;
	
	-webkit-animation-name: show; 
	-webkit-animation-duration: 4s; 
	/*-webkit-animation-iteration-count: infinite;*/
	-webkit-animation-timing-function: linear;
	
	-moz-animation-name: show; 
	-moz-animation-duration: 4s; 
	/*-moz-animation-iteration-count: infinite;*/
	-moz-animation-timing-function: linear;
	
	animation-fill-mode: forwards;
	animation: show 4s linear both;
}

@-webkit-keyframes show {
	0% {}
	50% {background: white;}
	50.01% {background: transparent;}
	100% {background: transparent;}
}

#horizons{
	position: absolute;
	left: 45%;
	top: 10%;
}

/*#textCircle{
	position: relative;
	left: 50px;
	top: -50px;
	z-index: 10;
	width: 150px;
	height: 150px;
	background-color: white;
	border:2px solid black;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}*/

.circle {
	z-index: 1;
	position: absolute;
	left: 45%;
	width: 100px;
	height: 100px;
	overflow: hidden;
	border: 3px solid gold;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.circleInsider{
	z-index: -1;
	position: absolute;
	content: '';
	display: block;
	width: 1px;
	top: 0px;
	height: 100%;
	background: gold;
	
	animation-fill-mode: forwards;
	
	-webkit-animation-name: fill; 
	-webkit-animation-duration: 3s; 
	/*-webkit-animation-iteration-count: infinite;*/
	-webkit-animation-timing-function: linear;
	
	-moz-animation-name: fill; 
	-moz-animation-duration: 3s; 
	/*-moz-animation-iteration-count: infinite;*/
	-moz-animation-timing-function: linear;
	
	animation-fill-mode: forwards;
	animation-name: fill;
	animation-duration: 3s;
	animation-timing-function: linear;
}

#timeLeft{
	position: relative;
	/*z-index: 2;*/
	color: black;
	font-size: 60px;
	top: 20px;
	left: -30px;
}

.wrapper {
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  width: 500px; height: 250px;
  overflow: hidden;
  border: 3px dashed gold;
  border-bottom: none;
}
.wrapper:after {
  content: '';
  display: block;
  width: 100px; height: 100%;
  background: gold;
  -webkit-animation: fill 7s linear infinite;
  animation: fill 7s linear infinite;
}
@-webkit-keyframes fill {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes fill {
  from { width: 0; }
  to { width: 100%; }
}