#tableHBox{
	border-spacing: 10px;
	margin-left: 30%;
	margin-right: 25%;
	margin-top: 0%;
}

#operator, #equalSign, #operatorSignVal{
	height: 100px;
	width: 100px;
}

.vars{
	font-size: 50px;
}

#answerText{
	height: 50px;
	font-size: 50px;
	width: 150px;
}

.scoreDisplay{
	font-size: 75px;
}

#over{
	position: absolute;
	right:10px;
	top: 15px;
}

#scoreHandling{
	text-align: right;
	right:20%;
}

body{
	text-align: center;
}

#correctAnswers{
	position: absolute;
	right: 40px;
}

#allQuestions{
	position: absolute;
	right: 40px;
	top: 100px;
	
}

.ballImg{
	width: 40px;
	height: 40px;
}

#ballElements{
	border-spacing: 10px;
	margin-left: 30%;
	margin-right: 25%;
	margin-top: 0%;
}

#simulationTable{
	border-spacing: 0px;
	margin-left: 35%;
	margin-right: 25%;
	margin-top: 0%;
	
}

#operand1Balls, #operand2Balls, #answerBalls{
	border: 1px solid;
}

#feedback{
	left: -10%;
}

#operand1DecadeDigit, #operand1UnitDigit, #operand2DecadeDigit, #operand2UnitDigit, #trailingDecades, #answerUnitDigit, #answerDecadeDigit, #equalBar, .equalBarExtension{
	font-size: 50px;
}