@font-face{
	font-family: "DatBox";
	src: url("../fonts/DatBox.ttf");
}

#pageTitle{
	font-family: "DatBox";
	font-size: 40px;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 250px;
}

#tableHBox{
	position: relative;
	top: 15%;
	border-spacing: 10px;
	margin-left: 30%;
	margin-right: 25%;
	margin-top: 0%;
}

#operator, #equalSign, #operatorSignVal, #operator0SignVal{
	height: 100px;
	width: 100px;
}

.vars{
	font-size: 50px;
}

#answerText{
	height: 50px;
	font-size: 50px;
	width: 150px;
}

.scoreDisplay{
	font-size: 75px;
}

#over{
	position: absolute;
	right:10px;
	top: 15px;
}

#scoreHandling{
	text-align: right;
	right:20%;
}

body{
	text-align: center;
}

#correctAnswers{
	position: absolute;
	right: 40px;
}

#allQuestions{
	position: absolute;
	right: 40px;
	top: 100px;
	
}

.ballImg{
	width: 40px;
	height: 40px;
}

#ballElements{
	border-spacing: 10px;
	margin-left: 30%;
	margin-right: 25%;
	margin-top: 0%;
}

#simulationTable{
	border-spacing: 0px;
	margin-left: 35%;
	margin-right: 25%;
	margin-top: 3%;
	
}

#operand1Balls, #operand2Balls, #answerBalls{
	border: 1px solid;
}

#feedback{
	position: absolute;
	font-size: 25px;
	top: 15%;
	left: 40%;
	right: 20%;
}

.simVal, #equalBar, .equalBarExtension{
	font-size: 50px;
}

#commentSimulation{
	font-size: 20px;
	position: relative;
}

#explanationTable{
	position: relative;
	border-spacing: 0px;
	margin-left: 35%;
	margin-right: 25%;
	margin-top: 10%;
}

/*For division page*/
.widerColumn{
	width: 50px;
	text-align: right;
}

#operator1, #operator2{
	width:50px;
	height: 50px;
}

/*Circle loading animation*/
/*This as a reference: https://stackoverflow.com/questions/35383629/css-circle-border-fill-animation */
/*#circleFillUp {
  width: 50px;
  height: 50px;
  margin: 30px auto;
  position: relative;
}*/

.outer-shadow,
.inner-shadow {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.inner-shadow {
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.hold {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0px, 50px, 50px, 25px);
  border-radius: 100%;
  background-color: #fff;
}
.fill,
.dot span {
  background-color: #f50;
}

.fill {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 25px, 50px, 0px);
  
}
.left .fill {
  z-index: 1;
  -webkit-animation: left 1s linear;
  -moz-animation: left 1s linear;
  animation: left 1s linear both;
}
@keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes left {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
.right {
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.right .fill {
  z-index: 3;
  -webkit-animation: right 1s linear;
  -moz-animation: right 1s linear;
  animation: right 1s linear both;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes right {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.inner-shadow img {
  margin-left: 8px;
  margin-top: 7px;
}

/*Custom classes*/
/*.rightAnimCustom {
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rightAnimCustom .fillCustom{
  z-index: 3;
  -webkit-animation: right 3000ms linear;
  -moz-animation: right 3000ms linear;
  animation: right 3000ms linear both;
  -webkit-animation-delay: 3000ms;
  -moz-animation-delay: 3000ms;
  animation-delay: 3000ms;
}

.leftAnimCustom .fillCustom{
  z-index: 1;
  -webkit-animation: left 3000ms linear;
  -moz-animation: left 3000ms linear;
  animation: left 3000ms linear both;
}*/

#submitAnswer, #restartSimulation {
	font-family: "Project Font";
	font-size: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background-color: #ef5d1e;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: black;
}

#returnToHomePage{
	font-family: "Project Font";
	font-size: 40px;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background-color: #ef5d1e;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	color: black;
	position: relative;
	bottom: 5%;
	left: 5%;
}

.translateButtons{
	width: 50px;
}

#translateLanguage{
	background-color: #ef5d1e;
	width: 300px;
	height: 100px;
	border: solid 3px black;
	border-top: none;
	position: fixed;
	top: -54px;
	left: 250px;
}

#translateText{
	position: relative;
	left: 60px;
	font-size: 30px;
}
