@font-face{
	font-family: "Project Font";
	src: url("../fonts/project.ttf");
}

.addition, .subtraction, .multiplication, .division{
	-webkit-animation: animation 2000ms linear infinite both;
  	animation: animation 2000ms linear infinite both;
}

.addition, .subtraction, .multiplication, .division{
	font-size: 40px;
	font-family: "Project Font";
	border-style: solid;
	border-width: 3px;
	border-color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.titleTypeGame{
	font-size: 40px;
}

#typeGames{
	position: relative;
	left: 10%;
}

@-webkit-keyframes animation{
	0% {background-color: #ef5d1e; color: black;}
	50% {background-color: #000000; color: #fbffc9;}
	100% {background-color: #ef5d1e; color: black;}
}

@keyframes animation{
	0% {background-color: #ef5d1e; color: black;}
	50% {background-color: #000000; color: #fbffc9;}
	100% {background-color: #ef5d1e; color: black;}
}

