<html>

<head>
	<title>Welcome to Math Rush</title>
	<link rel="stylesheet" type="text/css" href="css/homePage.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="animationHandling.js"></script>
</head>

<body>
	<h2 id="pageTitle" class="pageTitle">Math Rush</h2>
	<div id="suggestions">
		<label id="textSuggestion">Game is too easy?</label>
	</div>
	<div id="buttonAndDiv">
		<div id="testDiv" class="movingObj animation-target">
			<label id="testDivText"></label>
		</div>
		<input id="playNow" class="playNow" type="button" value="Play Now"/>
	</div>
	
	<script>
		//have to create new style when reaches 1200 as well. Starts becoming a weird page
		if($(window).width()<=800){
			$("#pageTitle").removeClass("pageTitle");
			$("#testDiv").removeClass("movingObj");
			$("#playNow").removeClass("playNow");
			setTimeout(function(){
				$("#pageTitle").addClass("pageTitleSmaller");
				$("#testDiv").addClass("movingObjSmaller");
				$("#playNow").addClass("playNowSmaller");
			},1);
		}
	
		//give it a lock so it is not called to often
		var lock = false;
		$(window).on('resize',function(){
			if(!lock){
				lock = true;
				if($(window).width()<=800){
					$("#pageTitle").removeClass("pageTitle");
					$("#testDiv").removeClass("movingObj");
					$("#playNow").removeClass("playNow");
					setTimeout(function(){
						$("#pageTitle").addClass("pageTitleSmaller");
						$("#testDiv").addClass("movingObjSmaller");
						$("#playNow").addClass("playNowSmaller");
					},1);
					
				} else{
					$("#pageTitle").removeClass("pageTitleSmaller");
					$("#testDiv").removeClass("movingObjSmaller");
					$("#playNow").removeClass("playNowSmaller");
					setTimeout(function(){
						$("#pageTitle").addClass("pageTitle");
						$("#testDiv").addClass("movingObj");
						$("#playNow").addClass("playNow");
					},1);
				}
				//give it 300ms until next request.
				setTimeout(function(){
					lock = false;
				}, 300);
				
			}
			
		})
	
		var nextTimeout = 0;
		//stop the animation after 2 and 1/2 times. Want to see animation
		$(document).ready(function(){
			
			//change color of button when hover
			$("#playNow").mouseover(function(){
				$("#playNow").css("background-color", "#ea6831");
				$("#playNow").css("color", "#302f2f");
			});
			$("#playNow").mouseout(function(){
				$("#playNow").css("background-color", "#ef5d1e");
				$("#playNow").css("color", "black");
			});
			
			$("#suggestions").mouseover(function(){
				//extend bar down
				//future text position
				$("#suggestions").stop();
				$("#suggestions").animate({height:'125px'}, 400);
				$("#textSuggestion").stop();
				$("#textSuggestion").animate({top: '35px'}, 400);
			});
			
			$("#suggestions").mouseout(function(){
				//pull bar up
				$("#suggestions").stop();
				$("#suggestions").animate({height:'100px'}, 1000);
				$("#textSuggestion").stop();
				$("#textSuggestion").animate({top:'10px'}, 1000);
			});
			
			$("#suggestions").click(function(){
				window.location.href = "lookingAhead";
			})
			
			//put action on button
			$("#playNow").click(function(){
				window.location.href = "selectTypeGame";
			});
			
			//duration of animation
			var durationAnimation = 2800;
			//create five events of the animation.
			for(var i=0;i<3;i++){
				setTimeout(function(){
					$("#testDivText").html("FUN");
				}, nextTimeout);
				
				setTimeout(function(){
					$("#testDivText").html("EASY");
				}, nextTimeout+durationAnimation);
				
				setTimeout(function(){
					$("#testDivText").html("EFFECTIVE");
				}, nextTimeout+ (2*durationAnimation));
				
				nextTimeout+=7000;
				setTimeout(function(){
					$("#testDiv").css("-webkit-animation-play-state", "paused");
				}, nextTimeout);
				
				nextTimeout+=5000;
				if(i !== 2){
					setTimeout(function(){
						reset_animation('testDiv');
					}, nextTimeout);
				}
					
			}
			
		});
	
	</script>
</body>

</html>