<html>

<head>
	<meta charset="utf-8">
	<Title>Random Math</Title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="randomEquationGenerator.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/randomMath.css">
</head>

<body>
	<!--  don't set the source so I do not have a split second change in image -->
	<table id="tableHBox">
		<tr>
			<td><label id="var1" class="vars"></label></td>
			<td><img id="operator"></td>
			<td><label id="var2" class="vars"></label></td>
			<td><img id="equalSign" src="img/equalSign.PNG" alt="Equal sign"></td>
			<td><input type="text" id="answerText"></td>
			<td><input type="submit" value="Submit" id="submitAnswer"></td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	
	<label id="feedback"></label>
	
	<script>
		var var1 = getRandomValue();
		var var2 = getRandomValue();
		var choiceImg = 0;
		
		$(document).ready(function(){
			$('#operator').attr('src', srcOperatorImage(choiceImg));
			$('#var1').html(var1);
			$('#var2').html(var2);
			
			$('#submitAnswer').click(function(){
				var answer = getAnswer(var1, var2, choiceImg);
				
				if(answer == $('#answerText').val()){
					$('#feedback').html("Nice job!");
				}
				else{
					$('#feedback').html("Sorry, wrong answer.");
				}
			});
		});
	</script>
</body>
</html>