<html>

<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140230130-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-140230130-2');
	</script>
	

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.33, maximum-scale=3">
	<meta property="og:title" content="Practicing the Addition on Math Rush">
	<meta property="og:description" content="Practicing the Addition on Math Rush">
	<meta name="Description" content="Practicing the Addition on Math Rush">
	<meta name="Keywords" content="Math Rush addition practice step-by-step step by step answer">
	<Title>Random Math</Title>
	<script src="../translationObject.min.js"></script>
	<script src="../jquery-3.3.1.min.js"></script>
	<script src="additionAjaxCalls.min.js"></script>
	<!-- ball handling -->
	<script src="../ballHandling.min.js"></script>
	<script src="../getImageOperator.min.js"></script>
	<!-- Before operation simulator, because I need the method in operation simulator -->
	<script src="../translateOnChange.min.js"></script>
	<script src="../operationSimulator.min.js"></script>
	<script src="../modifyTableStructure.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../css/randomMath.min.css">
	<link rel="stylesheet" type="text/css" href="../css/backgroundImg.min.css">
</head>

<body>
	<div id="pageTitle" class="pageTitle translate">Math Rush</div>
	<label class="copyright"></label>
	<div id="translateLanguage">
		<table>
			<tr>
				<td><img src="../img/united-states-of-america-flag-button-square-small.png" class="translateButtons english" alt="English"></td>
				<td><img src="../img/france-flag-button-square-small.png" class="translateButtons french" alt="French"></td>
				<td><img src="../img/india-flag-button-square-small.png" class="translateButtons hindi" alt="Hindi"></td>
				<td><img src="../img/spain-flag-button-square-small.png" class="translateButtons spanish" alt="Spanish"></td>
				<td><img src="../img/china-flag-button-square-small.png" class="translateButtons mandarin" alt="Mandarin"></td>
			</tr>
		</table>
		<label id="translateText">Translate Page</label>
	</div>

	<div id="scoreHandling">
		<label id="correctAnswers" class="scoreDisplay"></label><br/>
		<label id="over" class="scoreDisplay">___</label><br/>
		<label id="allQuestions" class="scoreDisplay"></label><br/>
	</div>

	<div id="opacityBox"></div>

	<table id="tableHBox">
		<tr>
			<td><label id="var1" class="vars"></label></td>
			<!--  don't set the source so I do not have a wrong operator displayed first -->
			<td><img id="operator"></td>
			<td><label id="var2" class="vars"></label></td>
			<td><img id="equalSign" src="../img/equalSign.png" alt="Equal sign"></td>
			<td><input type="text" id="answerText"></td>
			<td><input type="submit" value="Submit" id="submitAnswer" class="translate"></td>
		</tr>
	</table>

	<!-- Shows the feedback message. Says Nice Job! or Sorry, wrong answer -->
	<label id="feedback" class="translate"></label>

	<!-- Comments explaining the steps -->
	<table id="explanationTable">
		<tr>
			<td><label id="commentSimulation" class="simVal translate"></label></td>
		</tr>
		<tr>
			<td><input type="button" id="restartSimulation" class="translate" value="Restart Addition Simulation"/></td>
		</tr>
	</table>


	<!-- Shows the formal way of doing the addition -->
	<table id="simulationTable">
		<!-- This row handles when a certain column of digits surpasses nine -->
		<tr>
			<!-- Intentionally left blank -->
			<td></td>
			<!-- Trailing value from decades -->
			<td class="simVal" id="trailingDecades"></td>
			<!-- Trailing value from units -->
			<td class="simVal" id="trailingUnits"></td>
		</tr>
		<tr>
			<!-- Intentionally left empty -->
			<td></td>
			<!-- These two are for the first operand -->
			<td class="simVal" id="operand1DecadeDigit"></td>
			<td class="simVal" id="operand1UnitDigit"></td>
		</tr>
		<tr>
			<!-- This one is for the operator -->
			<td><img id="operatorSignVal"></td>
			<!-- These are for the second operand -->
			<td class="simVal" id="operand2DecadeDigit"></td>
			<td class="simVal" id="operand2UnitDigit"></td>
		</tr>
		<tr>
			<!-- This will be the equal bar -->
			<td colspan="3" class="simVal" id="equalBar"></td>
		</tr>
		<tr>
			<!-- Intentionally left empty -->
			<td></td>
			<!-- This will be the answer -->
			<td class="simVal" id="answerDecadeDigit"></td>
			<td class="simVal" id="answerUnitDigit"></td>
		</tr>
	</table>

	<script>
	//set copyright
	//get year
	var year = new Date().getYear() + 1900;
	$(".copyright").html("\u00A9 Math Rush "+year);

	//to handle the answer response so it does not get modified, you can
	//simply give the response ("Nice job!" or "Sorry, wrong answer.")
	//thus, the answer response has no way of being modified
		var operator = -1;
		var srcImg = "../img/add.png";
		var var2 = -1;
		var var1 = -1;
		var totalAnswers = 0;
		var correctAnswers = 0;
		var output = "";
		var counterTries = 0;
		const answerX = false;

		var extensionPage = false;


		if($(window).width()<=800){
			$("#feedback").css("font-size","20px");
			$("#feedback").css("left","0%");
			$("#feedback").css("right","20%");
			$("#explanationTable").css("margin-top","25%");
			$("#simulationTable").css("margin-top","13%");
			$("#explanationTable").css("margin-right","10%");
			$("#simulationTable").css("margin-right","10%");
			$("#tableHBox").css("margin-left","0%");
			$("#explanationTable").css("margin-left","5%");
			$("#simulationTable").css("margin-left","5%");
			$(".scoreDisplay").css("font-size", "40px");
			$("#allQuestions").css("top","70px");
			$("#pageTitle").hide();
			$("#translateLanguage").css("left","20px");

			//change table structure to fit
			addRows2(srcImg, var1, var2, onClickSubmit);

		}

		//give it a lock so it is not called to often
		var lock = false;
		$(window).on('resize',function(){
			if(!lock){
				lock = true;

				if($(window).width()<=800){
					$("#feedback").css("font-size","20px");
					$("#feedback").css("left","0%");
					$("#feedback").css("right","20%");
					$("#explanationTable").css("margin-top","25%");
					$("#simulationTable").css("margin-top","10%");
					$("#explanationTable").css("margin-right","10%");
					$("#tableHBox").css("margin-left","0%");
					$("#simulationTable").css("margin-right","10%");
					$("#explanationTable").css("margin-left","5%");
					$("#simulationTable").css("margin-left","5%");
					$(".scoreDisplay").css("font-size", "40px");
					$("#allQuestions").css("top","70px");
					$("#pageTitle").hide();
					$("#translateLanguage").css("left","20px");

					addRows2(srcImg, var1, var2, onClickSubmit);

				} else{
					$("#feedback").css("font-size", "25px");
					$("#feedback").css("left","40%");
					$("#explanationTable").css("margin-top","10%");
					$("#simulationTable").css("margin-top","3%");
					$("#tableHBox").css("margin-left","35%");
					$("#explanationTable").css("margin-left","35%");
					$("#simulationTable").css("margin-left","35%");
					$(".scoreDisplay").css("font-size", "75px");
					$("#allQuestions").css("top","100px");
					$("#pageTitle").show();
					$("#translateLanguage").css("left","250px");

					removeRows2(srcImg, var1, var2, onClickSubmit);
				}

				//should I let a delay?
				lock = false;

			}

		})

		$(document).ready(function(){
			//tells simulator what to operate on click
			$("#restartSimulation").click(function(){
				simulateAddition(var1, var2);
			});

			//trigger focus on input when going on page
			$("#answerText").focus();

			//to press submit on enter
			$("#answerText").keyup(function(event){
				if (event.which === 13){
					$("#submitAnswer").click();
				}
			});

			//get the operator and second operand
			$.when(getOperator(), getOperand2()).done(function(){
				//get the first operand next, because we want a whole number as response
				$.when(getOperand1(var2), getCorrectAnswersValue(), getTotalAnswersValue()).done(function(){
					srcImg = srcOperatorImage(operator);
					$('#operator').attr('src', srcOperatorImage(operator));
					//setting values of labels
					$('#var1').html(var1);
					$('#var2').html(var2);

					//setting values for score
					$('#correctAnswers').html(correctAnswers);
					$('#allQuestions').html(totalAnswers);
				});
			});

			//same thing as above, but this time this is generated from a click
			$('#submitAnswer').click(function(){onClickSubmit()});

			//set events related to changing language of the page
			setTranslationEvents();

		});

		function onClickSubmit(){
			$.when(getAnswer($("#answerText").val())).done(function(){

				//hide the ball elements if counterTries is 0
				if(counterTries === 0){
					$("#simulationTable").hide();
					$("#explanationTable").hide();
				}


				$('#feedback').html(output);
				onTextChange($("#feedback"));
				//increments the tries to the question
				counterTries++;
				if(output.localeCompare("Nice Job!") == 0){
					//change equation
					setTimeout(function(){
						$.when(getOperator(), getOperand2()).done(function(){
							//get the first operand next, because we want a whole number as response
							$.when(getOperand1(var2), getCorrectAnswersValue(), getTotalAnswersValue()).done(function(){

								$('#operator').attr('src', srcOperatorImage(operator));
								//setting values of labels
								$('#var1').html(var1);
								$('#var2').html(var2);

								output = "";
								$('#feedback').html(output);
								$('#feedback').css("left","40%");
								//setting values for score
								$('#correctAnswers').html(correctAnswers);
								$('#allQuestions').html(totalAnswers);

								//hide the ball tables at first
								$("#ballElements").hide();

							});
						});
					}, 1000);
					counterTries = 0;
				}
				else{
					setTimeout(function(){
						$('#feedback').html("Oops! Wrong answer. Look below for an explanation.");
						onTextChange($("#feedback"));
						if($(window).width()<=800){
							$("#feedback").css("left","0%");
						}
						else{
							$('#feedback').css("left","20%");
						}


						//show the tables
						setTimeout(function(){
							$("#explanationTable").show();
							$("#commentSimulation").show();
							$("#simulationTable").show();
							simulateAddition(var1, var2);
							$("#restartSimulation").show();

							if(!extensionPage){
								//change white page coverage. add 100 because 58 is the place the answer takes, and the rest is in case we need more space
								$("#opacityBox").css("height", $(document).height()+100);
								extensionPage = true;
							}

						}, 1000);
					}, 1000);


					//to reset the tries and go to the next question. Good or not?
					counterTries = 0;
				}

			})
		}
	</script>
	<script src="../translate.min.js"></script>
</body>
</html>
