<html>

<head>
	<meta charset="utf-8">
	<Title>Random Math</Title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="divisionAjaxCalls.js"></script>
	<script src="../getImageOperator.js"></script>
	<script src="../animationHandling.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/randomMath.css">
	<link rel="stylesheet" type="text/css" href="../css/circleFill.css">
</head>

<body>
	<div id="pageTitle">Math Rush</div>
	<div id="scoreHandling">
		<label id="correctAnswers" class="scoreDisplay"></label><br/>
		<label id="over" class="scoreDisplay">___</label><br/>
		<label id="allQuestions" class="scoreDisplay"></label><br/>
		
		<div class="circle" id="circleFillUp">
			<div class="circleInsider" id="circleInsider"></div>
			<label id="timeLeft"></label>
		</div>
	</div>
	
	<table id="tableHBox">
		<tr>
			<td><label id="var1" class="vars"></label></td>
			<!--  don't set the source so I do not have a wrong operator displayed first -->
			<td><img id="operator"></td>
			<td><label id="var2" class="vars"></label></td>
			<td><img id="equalSign" src="../img/equalSign.PNG" alt="Equal sign"></td>
			<td><input type="text" id="answerText"></td>
			<td><input type="submit" value="Submit" id="submitAnswer"></td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	
	<label id="feedback"></label>
	
	<script>
	//to handle the answer response so it does not get modified, you can 
	//simply give the response ("Nice job!" or "Sorry, wrong answer.")
	//thus, the answer response has no way of being modified
		var operator = -1;
		var var2 = -1;
		var var1 = -1;
		var totalAnswers = 0;
		var correctAnswers = 0;
		var output = "";
		const answerX = false;
		
		var timeRemaining = 6;
		$("#timeLeft").html(timeRemaining);
		
		$(document).ready(function(){
			
			$(".circleInsider").css("-webkit-animation-play-state", "paused");

			$(".circleInsider").css("animation-duration", timeRemaining+"s");
			$(".circleInsider").css("-webkit-animation-play-state", "running");
			//restart animations. BEST WAY TO DO IT!!!
			$("#circleInsider").removeClass("circleInsider");
			setTimeout(function(){
				$("#circleInsider").addClass("circleInsider");
			},1);
			
			//This below indicates the time left to answer the question
			//this time interval is for setting the time remaining depending on the actual time remaining to answer the question
			var timeInterval = setInterval(function(){
				//decrease time remaining to answer
				if(timeRemaining !== 0){
					timeRemaining -=1;
					$('#timeLeft').html(timeRemaining);
				}
				else{
					$("#submitAnswer").click();
				}
			}, 1000);
			
			var lock = false;
			
			//for fast interaction
			//trigger focus on input when going on page
			$("#answerText").focus();
			
			//to press submit on enter
			$("#answerText").keyup(function(event){
				if (event.which === 13){					
					$("#submitAnswer").click();
				} 
			});
			
			//clicks on submit answer when time is up (when right animation has finished)
			$('.circle').on('animationend webkitAnimationEnd', function() { 
			    $("#submitAnswer").click();
			});
			
			
			//get the operator and second operand
			$.when(getOperator(), getOperand2()).done(function(){
				//get the first operand next, because we want a whole number as response
				$.when(getOperand1(var2), getCorrectAnswersValue(), getTotalAnswersValue()).done(function(){
					$('#operator').attr('src', srcOperatorImage(operator));
					//setting values of labels
					$('#var1').html(var1);
					$('#var2').html(var2);
					
					//setting values for score
					$('#correctAnswers').html(correctAnswers);
					$('#allQuestions').html(totalAnswers);
				});
			});
			
			//same thing as above, but this time this is generated from a click
			$('#submitAnswer').click(function(){
				
				//lock allows only one click on submit to pass
				if(lock === false){
					lock = true;
					$.when(getAnswer($("#answerText").val())).done(function(){
							$('#feedback').html(output);
							
							if(totalAnswers === 50){
								//call backend to say it is done and load another page
								$.ajax({
									type: "GET",
									url: "/addition/done",
									timeout: 10000,
									success: function(){
										window.location.href="/done";
									},
									error: function(e){
										
									}
								})	
							}
							else{
								//change equation
								setTimeout(function(){
									$.when(getOperator(), getOperand2()).done(function(){
										//get the first operand next, because we want a whole number as response
										$.when(getOperand1(var2), getCorrectAnswersValue(), getTotalAnswersValue()).done(function(){
											$('#operator').attr('src', srcOperatorImage(operator));
											//setting values of labels
											$('#var1').html(var1);
											$('#var2').html(var2);
											
											output = "";
											$('#feedback').html(output);
											//setting values for score
											$('#correctAnswers').html(correctAnswers);
											$('#allQuestions').html(totalAnswers);
											
											//reset the value of the input to ""
											$("#answerText").val("");
											
											reset_animation2("circleInsider");
											
											//to indicate the time remaining
											timeRemaining = 6;
											$("#timeLeft").html(timeRemaining);
					
											//remove previous time interval
											window.clearInterval(timeInterval);
											//reset the time interval, because it might not be exact
											timeInterval = setInterval(function(){
												//decrease time remaining to answer
												if(timeRemaining !== 0){
													timeRemaining -=1;
													$('#timeLeft').html(timeRemaining);
												}
												else{
													$("#submitAnswer").click();
												}
											}, 1000);
					
											//remove the lock
											lock = false;
											
										});
									});
								}, 1000);
							}
					})
				}
			});
			
		});
		
		
	</script>
</body>
</html>