<html>

<head>
	<meta charset="utf-8">
	<Title>Random Math</Title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="additionAjaxCalls.js"></script>
	<!-- ball handling -->
	<script src="../ballHandling.js"></script>
	<script src="../getImageOperator.js"></script>
	<script src="../operationSimulator.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../css/randomMath.css">
	<link rel="stylesheet" type="text/css" href="../css/backgroundImg.css">
</head>

<body>
	<div id="pageTitle" class="pageTitle">Math Rush</div>
	<div id="scoreHandling">
		<label id="correctAnswers" class="scoreDisplay"></label><br/>
		<label id="over" class="scoreDisplay">___</label><br/>
		<label id="allQuestions" class="scoreDisplay"></label><br/>
	</div>
	
	<div id="opacityBox"></div>
	
	<table id="tableHBox">
		<tr>
			<td><label id="var1" class="vars"></label></td>
			<!--  don't set the source so I do not have a wrong operator displayed first -->
			<td><img id="operator"></td>
			<td><label id="var2" class="vars"></label></td>
			<td><img id="equalSign" src="../img/equalSign.PNG" alt="Equal sign"></td>
			<td><input type="text" id="answerText"></td>
			<td><input type="submit" value="Submit" id="submitAnswer"></td>
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	
	<!-- Shows the feedback message. Says Nice Job! or Sorry, wrong answer -->
	<label id="feedback"></label>
	
	<!-- Comments explaining the steps -->
	<table id="explanationTable">
		<tr>
			<td><label id="commentSimulation" class="simVal"></label></td>
		</tr>
		<tr>
			<td><input type="button" id="restartSimulation" value="Restart Addition Simulation"/></td>
		</tr>
	</table>
	
	
	<!-- Shows the formal way of doing the addition -->
	<table id="simulationTable">
		<!-- This row handles when a certain column of digits surpasses nine -->
		<tr>
			<!-- Intentionally left blank -->
			<td></td>
			<!-- Trailing value from decades -->
			<td class="simVal" id="trailingDecades"></td>
			<!-- Trailing value from units -->
			<td class="simVal" id="trailingUnits"></td>
		</tr>
		<tr>
			<!-- Intentionally left empty -->
			<td></td>
			<!-- These two are for the first operand -->
			<td class="simVal" id="operand1DecadeDigit"></td>
			<td class="simVal" id="operand1UnitDigit"></td>
		</tr>
		<tr>
			<!-- This one is for the operator -->
			<td><img id="operatorSignVal"></td>
			<!-- These are for the second operand -->
			<td class="simVal" id="operand2DecadeDigit"></td>
			<td class="simVal" id="operand2UnitDigit"></td>
		</tr>
		<tr>
			<!-- This will be the equal bar -->
			<td colspan="3" class="simVal" id="equalBar"></td>
		</tr>
		<tr>
			<!-- Intentionally left empty -->
			<td></td>
			<!-- This will be the answer -->
			<td class="simVal" id="answerDecadeDigit"></td>
			<td class="simVal" id="answerUnitDigit"></td>
		</tr>
	</table>
	
	<script>
	//to handle the answer response so it does not get modified, you can 
	//simply give the response ("Nice job!" or "Sorry, wrong answer.")
	//thus, the answer response has no way of being modified
		var operator = -1;
		var var2 = -1;
		var var1 = -1;
		var totalAnswers = 0;
		var correctAnswers = 0;
		var output = "";
		var counterTries = 0;
		const answerX = false;
		$(document).ready(function(){
			//tells simulator what to operate on click
			$("#restartSimulation").click(function(){
				simulateAddition(var1, var2);
			});
			
			//this hides the whole table handling the addition explanation until first try
			$("#ballElements").hide();
			//this hides the explanation button until second try
			$("#explanationAddition").hide();
			//set the click function for that button
			$("#explanationAddition").click(function(){
				ansBallHandling(var1, var2);
			});
			
			//initialize the ball images to blank. removes the borders set by an untouched image object.
			initBallImgsBlank();
			
			//hide the ball tables at first
			$("#ballElements").hide();
			
			//get the operator and second operand
			$.when(getOperator(), getOperand2()).done(function(){
				//get the first operand next, because we want a whole number as response
				$.when(getOperand1(var2), getCorrectAnswersValue(), getTotalAnswersValue()).done(function(){
					$('#operator').attr('src', srcOperatorImage(operator));
					//setting values of labels
					$('#var1').html(var1);
					$('#var2').html(var2);
					
					//setting values for score
					$('#correctAnswers').html(correctAnswers);
					$('#allQuestions').html(totalAnswers);
				});
			});
			
			//same thing as above, but this time this is generated from a click
			$('#submitAnswer').click(function(){
				$.when(getAnswer($("#answerText").val())).done(function(){
					
					//hide the ball elements if counterTries is 0
					if(counterTries === 0){
						$("#ballElements").hide();
						$("#explanationAddition").hide();
					}
					
					
					$('#feedback').html(output);
					//increments the tries to the question
					counterTries++;
					if(output.localeCompare("Nice Job!") == 0){
						//change equation
						setTimeout(function(){
							$.when(getOperator(), getOperand2()).done(function(){
								//get the first operand next, because we want a whole number as response
								$.when(getOperand1(var2), getCorrectAnswersValue(), getTotalAnswersValue()).done(function(){
									$('#operator').attr('src', srcOperatorImage(operator));
									//setting values of labels
									$('#var1').html(var1);
									$('#var2').html(var2);
									
									output = "";
									$('#feedback').html(output);
									$('#feedback').css("left","40%");
									//setting values for score
									$('#correctAnswers').html(correctAnswers);
									$('#allQuestions').html(totalAnswers);
									
									//hide the ball tables at first
									$("#ballElements").hide();
								});
							});
						}, 1000);
						counterTries = 0;
					}
					else{
						setTimeout(function(){
							$('#feedback').html("Oops! You got the wrong answer. Look below to know how to do this operation correctly.");
							$('#feedback').css("left","20%");
							
							//show the tables
							setTimeout(function(){									
								$("#commentSimulation").show();
								$("#simulationTable").show();
								simulateAddition(var1, var2);
								$("#restartSimulation").show();
							}, 1000);
						}, 1000);
						
						
						//to reset the tries and go to the next question. Good or not?
						counterTries = 0;
					}
						
				})
				
			});
			
		});
		
		
	</script>
</body>
</html>